<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> {% endcomment %}

    {% comment %} <link href="{% static 'css/main.css' %}" rel="stylesheet">  {% endcomment %}
    <link href="{% static 'css/boxicons.min.css' %}" rel="stylesheet" >
    {% comment %} <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'css/dataTables.min.css' %}" rel="stylesheet" >
    <link href="{% static 'css/dataTables.bootstrap5.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/jquery.dataTables.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/main.css' %}" rel="stylesheet">     
    <script src="{% static 'js/jquery-3.7.0.js' %}"></script> 
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script> 
    <script src="{% static 'js/popper.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
    <script src="{% static 'js/DragManager.js' %}"></script> 

  </head>
  <body>
    <div class="content">
    <header class="site-header specific">    
      <nav class="navbar navbar-expand-sm bg-primary fixed-top">
      {% comment %} <div class="container-fluid"> {% endcomment %}
        <div  class="navbar-nav ml-auto mb-2 mb-lg-0">
          <a class="navbar-brand nav-link about" aria-current="page" href="/edit/">WeTrio Project Tracker</a>
        </div>       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0 right-side">
          {% comment %} <ul class="navbar-nav d-grid gap-2 d-md-flex justify-content-md-end"> {% endcomment %}

            <li class="nav-item">
              <div class="btn-group">
                <button class="nav-link dropdown btn btn-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Edit projects +
              </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="nav-link " href="/read_projects/">Проекты</a></li>
                  {% comment %} <li><a class="nav-link btn-self btn-edit" href="/read_projects/">Проекты</a></li> {% endcomment %}
                </ul>
              </div>

            </li>
            <li class="nav-item">
              <div class="btn-group">
                <button class="nav-link dropdown btn btn-btn" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">     
                Edit customers +       
              </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                  <li><a class="nav-link" href="/read_customer/">Заказчики</a></li>
                  {% comment %} <li><a class="nav-link btn-self btn-edit" href="/read_customer/">Заказчики</a></li> {% endcomment %}
                </ul>
              </div>              
            </li>            
            <li class="nav-item">
              <div class="btn-group">
                <button class="nav-link dropdown btn btn-btn" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                Add teammembers +             
              </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                  <li><a class="nav-link" href="/read_staff/">Сотрудники</a></li>
                  {% comment %} <li><a class="nav-link btn-self btn-add" href="/read_staff/">Сотрудники</a></li> {% endcomment %}
                </ul>

              </div>
            </li>
            <li class="nav-item">
              {% comment %} <div class="btn-group"> {% endcomment %}
              <div class="btn-group">
                {% if user.is_authenticated %}
                <button class="nav-link dropdown btn btn-btn btn-log" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false"> {{user.username}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">          
                {% comment %} <button class="nav-link dropdown" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">{{user.last_name}} {{user.first_name}}</button>                               
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                        <li><hr class="dropdown-divider"></li>
                  <li><a class="nav-link btn-self btn-log" href="/admin/">Admin panel</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><hr class="dropdown-divider"></li>
                  <li> {% endcomment %}
                  <form action="{% url 'logout' %}" method="post">
                      {% csrf_token %} 
                      <button class="nav-link" type="submit">{{user.username}}</button>
                      {% comment %} <button class="nav-link btn-self btn-log" type="submit">{{user.username}}</button> {% endcomment %}
                  </form>                  
                  {% comment %} <a class="nav-link btn-self btn-log" href="{% url 'logout' %}">{{user.username}}</a> {% endcomment %}
                  {% comment %} last_name}} {{user.first_name}}</a> {% endcomment %}
                  {% comment %} </li>
                </ul> {% endcomment %}
              {% else %}
                <a class="nav-link btn-self btn-log" href="{% url 'login' %}">{{user.last_username}} Login -></a>
              {% endif %}
              </ul>

              </div>              
              {% comment %} </div> {% endcomment %}
            </li>
              {% comment %} {% if user.is_authenticated %} {% endcomment %}
                {% comment %} <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.last_name }} {{ user.first_name }}</a>
                  <ul> {% endcomment %}
                    {% comment %} <li class="nav-item">
                      <a class="nav-link btn-self btn-log" href="/admin/">Admin</a>
                    </li> {% endcomment %}
                  {% comment %} {% block page %}
                  <li class="nav-item ">
                    <a class="nav-link btn-self btn-log" href="{% url 'logout' %}">Logoff</a>
                  </li>
                  {% endblock %} {% endcomment %}
                  {% comment %} </ul>
                </li> {% endcomment %}
              {% comment %} {% else %}
                <li class="nav-item">
                  <a class="nav-link  btn-self btn-log" href="{% url 'login' %}">Login   -></a>
                </li>
              {% endif %}                 {% endcomment %}

          </ul>
        </div>
      {% comment %} </div> {% endcomment %}
      </nav>
    </div>
    </header>    
    <main role="main" class="container-fluid">
      <br />
      {% block content %}

      {% endblock %}
      <br />
    </main>
    <footer class="row fixed-bottom modal-footer center">
      <p>Все права защищены</p>
    </footer>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> {% endcomment %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
    <link type="text/css" href="{% static 'css/dataTables.min_2.css' %}" rel="stylesheet" >
    <link type="text/css" href="{% static 'css/dataTables.min_1.css' %}" rel="stylesheet" >
    <script src="{% static 'js/pdfmake.min.js' %}"></script> 
    <script src="{% static 'js/vfs_fonts.js' %}"></script> 
    <script src="{% static 'js/datatables.min.js' %}"></script> 
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

  </body>
  </div>
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> {% endcomment %}

</html>